<aside class="aside">
    <nav>
        <button logout-button>
            <img src=../<%= require("../../images/svg/logout.svg") %> alt="">
            Logout
        </button>
        <a href="../train">
            <img src=../<%= require("../../images/svg/train.svg") %> alt="">
            Train AI
        </a>
    
        <a href="../chatbot">
            <img src=../<%= require("../../images/svg/chatbot.svg") %> alt="">            
            Test chatbot
        </a>
    </nav>
</aside>